button {
    background-color: #D73F09;
    font-size: 16px;
    padding: 10px 15px;
    color: white;
    width: 100px;
}

.center {
    margin: auto;
    width: fit-content;
}

.go-beavs {
    background-color: #D73F09;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 28px;
}